.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.myworl-title {
    position: relative;
}

.myworl-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.myworl-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.mywork-container {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 40px;
}

.work-item {
    position: relative;
    border-radius: 50px;
    overflow: hidden;
}


.work-item:hover img {
    transform: scale(1.10);
    transition: 0.3s;
}


.work-item img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    cursor: pointer;
    object-fit: cover;
}

.mywork-container img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    cursor: pointer;
    border: 4px solid white;
    border-radius: 50px;
    object-fit: cover;
}

.mywork-container img:hover {
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 50px;
    transition: 0.3s;
}

.skill-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    transition: opacity 0.3s, background-color 0.3s;
    color: white;
    font-size: 1.5rem; 
    font-weight: bold;
    text-align: center;
    padding: 20px; 
    border-radius: 50px;
    z-index: 3;
}

.skill-overlay span {
    opacity: 0;
    transition: opacity 0.3s;
}

.work-item:hover .skill-overlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.work-item:hover .skill-overlay {
    opacity: 1;
}

@media (max-width: 768px) {
    .mywork{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }

    .mywork-title h1 {
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }

    .mywork-container {
        grid-template-columns: 1fr;
        margin-left: 120px;
    }

    .mywork-container img {
        width: 100%;
        height: 100;
    }

    
}